
<!DOCTYPE html>
<html>
<head>
    <title>Music Club A Music Category Flat Bootstarp Resposive Website Template | Album :: w3layouts</title>
    <link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="js/jquery.min.js"></script>
    <!-- Custom Theme files -->
    <!--theme-style-->
    <link href="css/z.css" rel="stylesheet" type="text/css" media="all" />
    <!--//theme-style-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Music Club Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <script src="js/modernizr.custom.97074.js"></script>
    <!--script-->
    <script src="js/jquery.chocolat.js"></script>
    <link rel="stylesheet" href="css/chocolat.css" type="text/css" media="screen" charset="utf-8">
    <!--light-box-files -->
    <script type="text/javascript" charset="utf-8">
        $(function () {
            $('.gallery a').Chocolat();
        });
    </script>

</head>
<body>
    <!--header-->
    <div class="header header-main">
        <div class="container">
            <div class="header-top">
                <div class="logo">
                    <h1><a href="/#/homee">Music Club</a></h1>
                </div>
                <div class="top-nav">
                    <span class="menu"><img src="images/menu.png" alt=""> </span>
                    <ul>
                        <li><a href="/#/clt" class="hvr-sweep-to-bottom color"><i class="glyphicon glyphicon-home"></i>Client  </a> </li>
                        <li><a href="/#/prd" class="hvr-sweep-to-bottom color1"><i class="glyphicon glyphicon-picture"></i>Produit  </a> </li>
                        <li><a href="/#/cat" class="hvr-sweep-to-bottom color2"><i class="glyphicon glyphicon-tags"></i>Categorie</a></li>
                        <li><a href="/#/sousCat" class="hvr-sweep-to-bottom color3"><i class="glyphicon glyphicon-tags"></i>Sous Categorie</a></li>
                        <div class="clearfix"> </div>
                    </ul>
                    <!--script-->
                    <script>
                        $("span.menu").click(function () {
                            $(".top-nav ul").slideToggle(500, function () {
                            });
                        });
                    </script>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
    <form class="form-horizontal" method="post" ng-submit="updateClient(client)">
       
        <hr />
        <div class="form-group">
            <label class="control-label col-lg-2">Code Client</label>
            <div class="col-lg-10">
                <input class="form-control" type="text" name="codeClt" ng-model="client.codeClt" style="width:30%;" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-lg-2">Nom</label>
            <div class="col-lg-10">
                <input class="form-control" type="text" name="nom" ng-model="client.nom" style="width:30%;" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-lg-2">Prenom</label>
            <div class="col-lg-10">
                <input class="form-control" type="text" name="prenom" ng-model="client.prenom" style="width:30%;" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-lg-2">Cin</label>
            <div class="col-lg-10">
                <input class="form-control" type="text" name="cin" ng-model="client.cin" style="width:30%;" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-lg-2">Email</label>
            <div class="col-lg-10">
                <input class="form-control" type="text" name="email" ng-model="client.email" style="width:30%;" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-lg-2">password</label>
            <div class="col-lg-10">
                <input class="form-control" type="text" name="password" ng-model="client.password" style="width:30%;" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-lg-2">telephone</label>
            <div class="col-lg-10">
                <input class="form-control" type="text" name="cin" ng-model="client.telephone" style="width:30%;" />
            </div>


        </div>

        <div class="col-lg-offset-2">
            <button class=" btn btn-success" type="submit">Modifer</button>
            <button class=" btn btn-default">Annuler</button>
        </div>

    </form>
    <br><br /><br /><br />
    <div class="footer">
        <div class="container">
            <h2><a href="/#/homee">Music Club</a></h2>
            <ul>
                <li><a href="/#/clt" class="hvr-sweep-to-bottom color"><i class="glyphicon glyphicon-home"></i>Client  </a> </li>
                <li><a href="/#/prd" class="hvr-sweep-to-bottom color1"><i class="glyphicon glyphicon-picture"></i>Produit  </a> </li>
                <li><a href="/#/cat" class="hvr-sweep-to-bottom color2"><i class="glyphicon glyphicon-tags"></i>Categorie</a></li>
                <li><a href="/#/sousCat" class="hvr-sweep-to-bottom color3"><i class="glyphicon glyphicon-tags"></i>Sous Categorie</a></li>
                <div class="clearfix"> </div>
            </ul>
            <p> © 2015 Music Club All rights reserved | Design by  <a href="http://w3layouts.com/" target="_blank">W3layouts</a></p>
        </div>
    </div>
    <!--//footer-->
</body>
</html>